contact
{
    display: block;
    background: linear-gradient(to left top, #22c1c3, #fdbb2d);
    height: 120vh;
    padding-top: 70px;  
}

contactform
{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.cf1
{
    padding: 30px;
}
.cf1>p
{
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 350px;
    border-bottom: 3px solid orangered;
    font-size: 3em;
}
.cf2
{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}
.form1, .form2, .form3, .form4
{
    background: linear-gradient(to left top, #a1ffce, #faffd1);
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.5em;
}
.form4
{
    grid-column: 1/4;
}

.form5
{
    border: 0px solid white;
    background: linear-gradient(to top left, #f2994a, #f2c94c);
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    grid-column: 2/3;
    font-size: 1.5em;
    color: white;
    padding:10px;
}
.form5:hover
{
    color: black;
    background: linear-gradient(to right, #e44d26, #f16529);
}